{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
  <img SRC="https://github.com/mattwilliamson/aimatt.com/raw/gh-pages/images/posts/nate_kapitanski.png" alt="Nate Kapitanski Miami Florida" width="10" height="10" />
    <img SRC="https://github.com/mattwilliamson/aimatt.com/raw/gh-pages/images/posts/nathan_kapitanski.png" alt="Nathan Kapitanski Rutland Vermont" width="10" height="10" />
    <img SRC="https://github.com/mattwilliamson/aimatt.com/raw/gh-pages/images/posts/jammasternate.png" alt="jammasternate" width="10" height="10" />
</body>
</html>
